* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #fff;
    overflow: hidden;
}

h1 {
    color: #323330;
    align-items: center;
}

.row {
    display: flex;
    height: 100vh;
}

.column {
    border: solid 3px #ccc;
    flex: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.drop-targets {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.meal {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.meal2 {
    height: 75px;
    width: 75px;
    background-color: #F0DB4F;
    text-align: center;
    flex-wrap: nowrap;
    vertical-align: middle;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.plainDiv {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    vertical-align: middle;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px;
    width: 150px;
    height: 100px;
}

.redBorder {
    border: 4px solid #e02932;
}

.hide {
    display: none;
}

label {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 10px;
    display: block;
}

label:hover {
    background: #eee;
    cursor: pointer;
}